html
	head
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/editor.css')
		link(rel='stylesheet', href='/vendor/loading-bar.css')
		title=title
	body(ng-app='roadglApp')
		div(ng-controller='AppCtrl', ng-trackinfo='#{JSON.stringify(trackInfo)}', ng-editor=editor)
			canvas#road
				canvas
			#wrap
				#left-top
					#title.tab
						h4 {{trackInfo.track}}
					.tab
						button.infoBtn(data-toggle='collapse', ng-model="collapsed", ng-click="collapsed=!collapsed")
							| Learn shortcuts
							div(ng-show='collapsed')
								ul
									li	Ctrl+mouse to look
									li	Play/Pause with Spacebar
									li	Move car with arrows
									li  'f' to fork
									li  'a' to append
									li  'j' to join
									li  'esc' to be done with fork/append
									li  Select point, then shift+click to select segment
					#videoPlayer
						canvas#projectionCanvas
					#slideDiv.tab
						if editor == "lane"
							h4 Drag range
							input#drrange(type="range", min="1", max="60", value="15", step="5")
						h4 Play speed
						input#playspeedrange(type="range", min="1", max="5", value="1", step="1")
				#left-bottom
					#fps.tab
				#center-top
					#log.tab
						p#logText {{logText}}
				#center-bottom
					if editor == "lane"
						#actions.tab
							button#undo.actionBtn(type="button")
								|Undo
							button#redo.actionBtn(type="button")
								|Redo
							button#save.actionBtn(type="button")
								|Save
					#scrubberDiv.tab
						input#scrubber(type="range", min="0", max="{{gps.length}}", step="1", ng-model="frameCount")
						if editor == "tag"
							#tagScrubbers(style="display:none;")
								input.scrubberMarker.scrubberLeft(type="range", min="0", max="{{gps.length}}", step="1", ng-model="tagLeftVal", ng-change="tagLeft()")
								input.scrubberMarker.scrubberRight(type="range", min="0", max="{{gps.length}}", step="1", ng-model="tagRightVal", ng-change="tagRight()")
							div(ng-repeat="tag in tags")
								.scrubberTag(ng-style="tag.style")
									.scrubberTagPopup(ng-style="tag.popupStyle")
										p Start Frame: {{tag.startFrame}}
										p End Frame: {{tag.endFrame}}
										p {{tag.category.name}}
										p {{tag.category.description}}
				#right-side
					#options.tab
						div
							button#fork.actionBtn(type="button", ng-show="forkShow")
								|Fork
						div
							button#append.actionBtn(type="button", ng-show="appendShow")
								|Append
						div
							button#join.actionBtn(type="button", ng-show="joinShow")
								|Join
						div
							button#delete.actionBtn(type="button", ng-show="deleteShow")
								|Delete
					.tab
						h4 Error Tracker
						if editor == "tag"
							div
								button#categoryAddBtn.actionBtn(type="button", ng-click="categoryAddBtnShow()")
									| Add Category
								button#tagAddBtn.actionBtn(type="button", ng-click="tagAddBtnShow()")
									| Add Tag
					#categoryContent.tab.hidden
						form#categoryForm
							.form-group
								label(for="name")
									| Category Name
								input.form-control.category-input(type="text", name="name", required)
							.form-group
								label(for="description")
									| Description
								input.form-control.category-input(type="text", name="description")
							.form-group
								label(for="diplayColor")
									| Display Color
								input.form-control.category-input.color(type="text", name="displayColor")
							.form-group
								button.actionBtn#categorySubmit.btn.btn-default(type="submit")
									| Submit
					#tagContent.tab.hidden
						form#tagForm
							input(type="hidden", name="runTrack", value="#{trackInfo.track}")
							input(type="hidden", name="lanesFilename", value="#{trackInfo.lanesFilename}")
							.form-group
								label(for="categoryId")
									| Category
									select#categorySelector.form-control(name="categoryId")
										-each category in categories
											option(value="#{category._id}") #{category.name}
							input#run(type="hidden", name="run", value="#{track}")
							.form-group
								label(for="startFrame")
									| Start Frame
								input#startFrameInput.tag-input.form-control(type="text", name="startFrame", required)
							.form-group
								label(for="endFrame")
									| End Frame
								input#endFrameInput.tag-input.form-control(type="text", name="endFrame", required)
							.form-group
								label(for="description")
									| Description
								input.tag-input.form-control(type="text", name="description")
							.form-group
								button.actionBtn#tagSubmit.btn.btn-default(type="submit")
									| Submit
				#videoPlayerWrap
		script(src='/vendor/jquery.js')
		script(src='/vendor/bootstrap.min.js')
		script(src="/vendor/angular.js")
		script(src='/javascripts/angular-animate.min.js')
		script(src='/vendor/loading-bar.js')
		script(src='/javascripts/three.min.js')
		script(src='/javascripts/OrbitControls.js')
		script(src='/javascripts/TypedArrayUtils.js')
		script(src='/javascripts/BinaryLoader.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/fpsmeter.js')
		script(src='/javascripts/jscolor.js')
		script(src='/javascripts/jszip.js')
		script(src='/javascripts/jszip-utils.js')
		script(src='/javascripts/numeric-1.2.6.js')
		script(src='/javascripts/jpeg_encoder_basic.js')
		script(src='/javascripts/jsmpg.js')
		script(src='/app.js')
		script(src='/laneEditor.js')
		script(src='/tagEditor.js')
		script(src='/loading.js')
		script(src='/util.js')
		script(src='/video_nacl.js')
		script(src='/videoProjection.js')
		script(src='/radar.js')
		script(src='/carDetection.js')