html
	head
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/editor.css')
		link(rel='stylesheet', href='/vendor/loading-bar.css')
		title=title
	body(ng-app='roadglApp')
		div(ng-controller='AppCtrl', ng-trackinfo='#{JSON.stringify(trackInfo)}')
			canvas#road
				canvas
			#wrap
				#left-top
					#title.tab
						h4 {{trackInfo.track}}
					.tab
						button.infoBtn(data-toggle='collapse', ng-model="collapsed", ng-click="collapsed=!collapsed")
							| Learn shortcuts
							div(ng-show='collapsed')
								ul
									li	Ctrl+mouse to look
									li	Play/Pause with Spacebar
									li	Move car with arrows
									li  'f' to fork
									li  'a' to append
									li  'j' to join
									li  'esc' to be done with fork/append
									li  Select point, then shift+click to select segment
					#videoPlayer
						canvas#projectionCanvas
				#left-bottom
					#fps.tab
				#center-top
					#log.tab
						p#logText {{logText}}
				#center-bottom
					#actions.tab
						button#undo.actionBtn(type="button")
							|Undo
						button#redo.actionBtn(type="button")
							|Redo
						button#save.actionBtn(type="button")
							|Save
					#scrubberDiv.tab
						input#scrubber(type="range", min="0", max="1", value="0", step="0.01")
				#right-side
					#slideDiv.tab
						h4 Drag range
						input#drrange(type="range", min="1", max="60", value="15", step="5")
						h4 Play speed
						input#playspeedrange(type="range", min="1", max="5", value="1", step="1")
					#options.tab
						div
							button#fork.actionBtn(type="button", ng-show="forkShow")
								|Fork
						div
							button#append.actionBtn(type="button", ng-show="appendShow")
								|Append
						div
							button#join.actionBtn(type="button", ng-show="joinShow")
								|Join
						div
							button#delete.actionBtn(type="button", ng-show="deleteShow")
								|Delete
					.tab
						div
							button#categoryBtn.actionBtn(type="button")
								| Add Category
							button#tagBtn.actionBtn(type="button")
								| Add Tag
					#categoryContent.tab.hidden
						form#categoryForm()
							.form-group
								label(for="name")
									| Category Name
								input.form-control.category-input(type="text", name="name", required)
							.form-group
								label(for="description")
									| Description
								input.form-control.category-input(type="text", name="description")
							.form-group
								label(for="diplayColor")
									| Display Color
								input.form-control.category-input.color(type="text", name="displayColor")
							.form-group
								button#categorySubmit.btn.btn-default(type="submit")
									| Submit
					#tagContent.tab.hidden
						form#tagForm()
							input(type="hidden", name="runTrack", value="#{trackInfo.track}")
							input(type="hidden", name="lanesFilename", value="#{trackInfo.lanesFilename}")
							.form-group
								label(for="categoryId")
									| Category
									select#categorySelector.form-control(name="categoryId")
										-each category in categories
											option(value="#{category._id}") #{category.name}
							input#run(type="hidden", name="run", value="#{track}")
							.form-group
								label(for="startFrame")
									| Start Frame
								input.tag-input.form-control(type="text", name="startFrame")
							.form-group
								label(for="endFrame")
									| End Frame
								input.tag-input.form-control(type="text", name="endFrame")
							.form-group
								label(for="description")
									| Description
								input.tag-input.form-control(type="text", name="description")
							.form-group
								button#tagSubmit.btn.btn-default(type="submit")
									| Submit
				#videoPlayerWrap
		script(src='/vendor/jquery.js')
		script(src='/vendor/bootstrap.min.js')
		script(src="/vendor/angular.js")
		script(src='/javascripts/angular-animate.min.js')
		script(src='/vendor/loading-bar.js')
		script(src='/javascripts/three.min.js')
		script(src='/javascripts/OrbitControls.js')
		script(src='/javascripts/TypedArrayUtils.js')
		script(src='/javascripts/BinaryLoader.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/fpsmeter.js')
		script(src='/javascripts/jszip.js')
		script(src='/javascripts/jszip-utils.js')
		script(src='/javascripts/numeric-1.2.6.js')
		script(src='/javascripts/jpeg_encoder_basic.js')
		script(src='/javascripts/jsmpg.js')
		script(src='/app.js')
		script(src='/editor.js')
		script(src='/jscolor.js')
		script(src='/loading.js')
		script(src='/util.js')
		script(src='/video_nacl.js')
		script(src='/videoProjection.js')
		script(src='/radar.js')
		script(src='/boundingBoxes.js')
